:global{
  .btn-primary{
    background-color:$color-primary;
    border-color:$color-primary;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
      background-color: darken($color-primary, 8%);
      border-color: darken($color-primary, 8%);
    }
  }
}

.btn{

}

.sm{

}
