@font-face {
  font-family: "Source Sans Pro";
  src: local("SourceSansPro"),    
  url("/src/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-weight: 900;
}

.title {
  font-size: 22px;
  color: $text-primary;
  font-weight: 500;
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  margin-bottom: 4px;
  margin-top: -4px;
  letter-spacing: 0.2px;
  z-index: 2;
  display: flex;
  line-height: initial;
  &.bolder_title {
    font-size: 26px;
    color: $text-white;
    font-weight: 600;
    width: 180px;
  }
}
