
.subtitle{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $text-secondary;
    margin-left: 4px;
    .white {
        color: $text-white;
        margin-left: 4px;
    }
    .icon {
        color: $color-primary;
        margin-right: 4px;
    }
  }